<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      a{
        padding: 10px;
        text-decoration: none;

      }
      a:hover{
        background-color: greenyellow;
      }
      body{
        padding: 20px;
        background-color: darkkhaki;
      }
    </style>
</head>
<body>
  <h1> ABOUT PAGE</h1>
  <a href="/contact">GO BACK TO Contact</a>
  <a href="/"> GO BACK TO HOMEPAGE</a>
<h1>SOON TO BE ABOUT PAGE...</h1>
    
</body>
</html>