<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
          padding: 10px;
          text-decoration: none;
  
        }
        a:hover{
          background-color: mediumaquamarine;
        }
        body{
            background-color: burlywood;
            padding: 20px;
        }
      </style>
</head>
<body>
    <h1>CONTACT PAGE</h1>
    <a href="/"> GO BACK  HOMEPAGE</a>
  <a href="/about"> GO BACK  ABOUTPAGE</a>
<h1>SOON TO BE ABOUT PAGE....</h1>

</body>
</html>