<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a{
      padding: 10px;
      text-decoration: none;

    }
    a:hover{
      background-color: yellow;
    }
    body{
      background-color: springgreen;
      padding: 20px;
    }
  </style>
</head>
<body>
  <h1>homepage</h1>

  <a href="/"> HOMEPAGE</a>
  <a href="/about"> ABOUT</a>
  <a href="/contact"> CONTACT</a>
  <h1> SOON  TO BE  HOME PAGE...</h1>

</body>
</html>